.billphoto {
    height: 300px;
    width: 300px;
}
.kevinphoto {
    height: 300px;
    width: 300px;
}
.garyphoto {
    height: 300px;
    width: 300px;
}
.sharonphoto {
    height: 300px;
    width: 300px;
}
ul {
    list-style-type: none;
}
