.jumbotron{
    background-image: url("../images/newbackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: Copperplate;
    
}

form{
    color: white;
}

.form-group{
    font-family: Helvetica Condensed;
    text-align: center; /*Fix, text line up left of text box*/
}

.form-control{
    align-self: center;
}

.jumbotron p{
    font-size: 25px;
    font-weight:bold;
}

.jumbotron h1{
    font-weight:bold;
    color: white !important;
    
}

.form-intro {
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Helvetica Condensed;
}

