.jumbotron{
    background-image: url("../images/businessprofessionals.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: Copperplate;
    
}

form{
    color: white;
    margin-left:25%;
    width: 100%;
}

.form-group{
    font-family: Helvetica Condensed;
}



.jumbotron p{
    font-size: 25px;
    font-weight:bold;
}

.jumbotron img{
    width:300px;
    padding: 0;
    margin: 0;
}

.form-intro {
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Helvetica Condensed;
}

.form-control {
    size: "50";
}

.submit {
    margin-left:25%;
}